<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>


    <nav class="navbar navbar-dark bg-dark">
        <div class="p-2">
            <!-- <img src="../image/nodejs.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
            <a style="color: aliceblue; font-size: larger; font-weight: bold;">NodeJS</a>
        </div>
        <div class="position-relative p-2">
            <a href="/logout" class="btn btn-danger ">Logout</a>
        </div>
    </nav>




    <div class="contener">

        <div class="card p-3">

            <div class="card-body">

                <div class="card border-dark mb-3">
                    <div class="card-header">Home</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Welcome: <%= name %>
                        </h5>
                        <p class="card-text">Email: <%= email %>
                        </p>

                    </div>
                </div>



                <div class="card">
                    <div class="card-header">
                        Mini Project
                    </div>
                    <div class="card-body">
                        <a href="/calculator" class="btn btn-success ">เครื่องคิดเลข</a>
                    </div>
                </div>


            </div>

        </div>

    </div>




</body>

</html>